*{
    font-family: arial;
    font-size: 16px;
}
body {
    background-color: rgb(204, 157, 248)
    
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px black;
    padding: 10px; 
}